*.bak
packer_compiled.lua
config/mpv/watch_later
config/fish/functions/_*
config/fish/conf.d/autopair.fish
config/fish/conf.d/gitnow.fish
config/fish/conf.d/gitnow_config.fish
config/fish/completions/_*

config/fish/conf.d/.gitnow
config/fish/conf.d/z.fish
config/fish/conf.d/fzf.fish
config/fish/completions/fzf_configure_bindings.fish
config/fish/functions/fzf_configure_bindings.fish
config/fish/fish_variables
config/fish/conf.d/__async_prompt.fish
config/fish/conf.d/abbr_tips.fish
config/fish/conf.d/done.fish
config/fish/conf.d/puffer_fish_key_bindings.fish
config/fish/conf.d/sponge.fish
config/fish/functions/sponge_filter_failed.fish
config/fish/functions/sponge_filter_matched.fish
config/tmux/plugins/
**/fishd.tmp.*
config/fish/completions/gopass.fish
config/fish/completions/kind.fish
config/nvim/lazy-lock.json
config/lazygit/state.yml
roles
btop.log
